<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
      {% block stylesheets %}
          {{ encore_entry_link_tags('app') }}
      {% endblock %}
    </head>
    <body>
    {%block header %}
    <div class="container">
      <nav>
         <div class="nav-wrapper teal darken-3">
           <a href="#" class="brand-logo">Logo</a>
           <ul id="nav-mobile" class="right hide-on-med-and-down">
             <li ><a href="sass.html" class="teal-text">Sass</a></li>
             {%if  is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
            {% endif %}
            {% if not  is_granted('IS_AUTHENTICATED_REMEMBERED') %}
             <li><a href="{{ path('app_register') }}">CREER UN COMPTE</a></li>
             <li><a href="{{ path('app_login') }}">Connexion</a></li>
            {% endif%}
           </ul>
         </div>
       </nav>

    {% endblock %}

    {% block body %}

    {% endblock %}

{%block footer %}

{% endblock %}

        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
      {% endblock %}
  </div><!-- end container -->
    </body>
</html>
